In [1]:
import pandas as pd

In [2]:
pd.__version__

'1.2.0'

In [24]:
df = pd.read_csv("yellow_tripdata_2021-01.csv",nrows=100)

In [25]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1,2.10,1,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1,0.20,1,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1,14.70,1,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0,10.60,1,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1,4.94,1,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5

In [26]:
## generate an sql create query from a dataframe
print(pd.io.sql.get_schema(df,name='yellow_taxi_data'))

CREATE TABLE "yellow_taxi_data" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TEXT,
  "tpep_dropoff_datetime" TEXT,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "RatecodeID" INTEGER,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL
)

### Convert the data in the drop off and pickup columns to date time

In [27]:


df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)

### generate an sql create query from a dataframe

In [28]:
print(pd.io.sql.get_schema(df,name='yellow_taxi_data'))

CREATE TABLE "yellow_taxi_data" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TIMESTAMP,
  "tpep_dropoff_datetime" TIMESTAMP,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "RatecodeID" INTEGER,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL
)

### Working with sqlalchemy

In [3]:
from sqlalchemy import create_engine

In [7]:
# Initializing our connection to the server
engine = create_engine('postgresql://root:password@localhost:5431/ny_taxi')
engine.connect()
cursor = engine.connect() # creating a cursor to run sql queries with

### Creating the table using default SQL create table command

In [8]:
cursor.execute("""CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT, 
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE, 
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE, 
	passenger_count BIGINT, 
	trip_distance FLOAT(53), 
	"RatecodeID" BIGINT, 
	store_and_fwd_flag TEXT, 
	"PULocationID" BIGINT, 
	"DOLocationID" BIGINT, 
	payment_type BIGINT, 
	fare_amount FLOAT(53), 
	extra FLOAT(53), 
	mta_tax FLOAT(53), 
	tip_amount FLOAT(53), 
	tolls_amount FLOAT(53), 
	improvement_surcharge FLOAT(53), 
	total_amount FLOAT(53), 
	congestion_surcharge FLOAT(53)
)""")

### Batch upload , splitting data into chunksizes

In [17]:
from time import time
import pandas as pd
# to split our full data into chunks
dtf_iter = pd.read_csv("yellow_tripdata_2021-01.csv",iterator=True, chunksize =100000)
while True:
    t_start = time()
    dtf = next(dtf_iter)
    
    # to convert the data in the drop off and pickup columns to date time
    dtf.tpep_dropoff_datetime = pd.to_datetime(dtf.tpep_dropoff_datetime)
    dtf.tpep_pickup_datetime = pd.to_datetime(dtf.tpep_pickup_datetime)

    try:
        dtf.to_sql(name="yellow_taxi_data",con=engine,if_exists='append')
        t_end = time()
        diff = t_end - t_start 
        print (f'Another 100k rows of data uploaded in %.3f seconds' %(diff))
    except StopIteration:
        print (f'Done uploading in %.3f seconds' %(diff))
        break

Another 100k rows of data uploaded in 8.429 seconds
Another 100k rows of data uploaded in 8.384 seconds
Another 100k rows of data uploaded in 8.539 seconds
Another 100k rows of data uploaded in 9.252 seconds
Another 100k rows of data uploaded in 8.882 seconds
Another 100k rows of data uploaded in 9.643 seconds
Another 100k rows of data uploaded in 9.030 seconds
Another 100k rows of data uploaded in 8.722 seconds
Another 100k rows of data uploaded in 8.970 seconds
Another 100k rows of data uploaded in 10.082 seconds
Another 100k rows of data uploaded in 9.384 seconds
Another 100k rows of data uploaded in 9.334 seconds
Another 100k rows of data uploaded in 9.565 seconds
Another 100k rows of data uploaded in 5.952 seconds

StopIteration:

In [78]:
## generate a PostgreSQL create table query from a dataframe
print(pd.io.sql.get_schema(df,name='yellow_taxi_data',con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [79]:
# to convert the data in the drop off and pickup columns to date time
dtf.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
dtf.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)

# to split our full data into chunks
dtf_iter = pd.read_csv("yellow_tripdata_2021-01.csv",iterator=True, chunksize =100000)

In [80]:
dtf = next(dtf_iter)

In [81]:
dtf.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1,2.10,1,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1,0.20,1,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1,14.70,1,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0,10.60,1,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1,4.94,1,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5

In [58]:
dtf.head(n=0)

Empty DataFrame
Columns: [VendorID, tpep_pickup_datetime, tpep_dropoff_datetime, passenger_count, trip_distance, RatecodeID, store_and_fwd_flag, PULocationID, DOLocationID, payment_type, fare_amount, extra, mta_tax, tip_amount, tolls_amount, improvement_surcharge, total_amount, congestion_surcharge]
Index: []

### Create table using the column names { initialize an empty table directly using pandas== to_sql function}

In [82]:

dtf.head(n=0).to_sql(name="yellow_taxi_data",con=engine,if_exists='replace')

In [65]:
# NOW to upload data into the postgres db
%time dtf.to_sql(name="yellow_taxi_data",con=engine,if_exists='append')

Wall time: 5.22 s

### Recurcive function compiled from above individual runs

In [ ]:
from time import time
import pandas as pd
# to split our full data into chunks
dtf_iter = pd.read_csv("yellow_tripdata_2021-01.csv",iterator=True, chunksize =100000)
while True:
    t_start = time()
    dtf = next(dtf_iter)
    
    # to convert the data in the drop off and pickup columns to date time
    dtf.tpep_dropoff_datetime = pd.to_datetime(dtf.tpep_dropoff_datetime)
    dtf.tpep_pickup_datetime = pd.to_datetime(dtf.tpep_pickup_datetime)

    dtf.to_sql(name="yellow_taxi_data",con=engine,if_exists='append')
    t_end = time()
    diff = t_end - t_start 
    print (f'Another chunk succesfully uploaded in %.3f seconds' %(diff))

## SQL Refresher

`SELECT * FROM zones;` => _returns the values of the table_ `zones`
<br>`SELECT * FROM yellow_taxi_data t LIMIT 100;` => _returns the first 100 rows of the table_ `yellow_taxi_data`

### Joins btw tables and columns

``Using WHERE``
SELECT tpep_pickup_datetime,tpep_dropoff_datetime,trip_distance,total_amount,
<br>CONCAT(zpu."Borough",' ',zpu."Zone") as pick_up_loc,
<br>CONCAT(zdo."Borough",' ',zdo."Zone") as drop_off_loc
<br>FROM 
<br>yellow_taxi_data t,
<br>zones zpu,
<br>zones zdo
<br>WHERE t."PULocationID" = zpu."LocationID" AND
<br>t."DOLocationID" = zdo."LocationID"

`Using JOIN`

SELECT tpep_pickup_datetime,tpep_dropoff_datetime,trip_distance,total_amount,
<br>CONCAT(zpu."Borough",' ',zpu."Zone") as pick_up_loc,
<br>CONCAT(zdo."Borough",' ',zdo."Zone") as drop_off_loc
<br>FROM 
<br>yellow_taxi_data t JOIN zones zpu,
<br>ON t."PULocationID" = zpu."LocationID"
JOIN zones zdo
<br> ON t."DOLocationID" = zdo."LocationID"